@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 28% 9%;
    --foreground: 210 11% 80%;
    --card: 222 34% 7%;
    --card-foreground: 210 11% 90%;
    --muted: 222 21% 13%;
    --muted-foreground: 220 9% 45%;
    --border: 223 25% 14%;
    --accent: 17 85% 52%;
    --accent-foreground: 220 19% 7%;
    --highlight: 17 100% 61%;
    --input: 223 25% 14%;
    --ring: 17 100% 61%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222 28% 9%;
    --foreground: 210 11% 80%;
    --card: 222 34% 7%;
    --card-foreground: 210 11% 90%;
    --muted: 222 21% 13%;
    --muted-foreground: 220 9% 45%;
    --border: 223 25% 14%;
    --accent: 17 85% 52%;
    --accent-foreground: 220 19% 7%;
    --highlight: 17 100% 61%;
    --input: 223 25% 14%;
    --ring: 17 100% 61%;
    --radius: 0.75rem;
  }

  body {
    min-height: 100vh;
    background-color: #0f1219;
    color: #c8ccd4;
  }
}
